# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
private.xml
/poliAsistenciaWeb/dist/
/serviciosWebPoliAsistencia/dist/
poliAsistenciaWeb/build/web/imagenes/perfil/1_2fotoPerfilIMG_20180412_162641565.jpg4921339167890952066.jpeg
poliAsistenciaWeb/nbproject/private/private.properties
poliAsistenciaWeb/web/imagenes/perfil/1_2fotoPerfilIMG_20180412_162641565.jpg4921339167890952066.jpeg
serviciosWebPoliAsistencia/nbproject/private/private.properties
